In [1]:
import pandas as pd

In [2]:
data = {
    'cats':[3,5,3,2],
    'dogs':[5,3,8,4]
}

In [3]:
listView = pd.DataFrame(data) #notice we use 'pd'
                              #accessing the Pandas Library
listView #we can print a dataframe by simply typing its name

   cats  dogs
0     3     5
1     5     3
2     3     8
3     2     4

In [4]:
import random

In [5]:
#pick any seed number I chose 52
random.seed(52)

In [6]:
#print a random number between 1 and 500
print(random.randint(1,500))

138

In [7]:
#print again and get a random number
print(random.randint(1,500))

28

In [8]:
#if you want to print the same number again
# use the same seed number from earlier
random.seed(52)
print(random.randint(1,500))

138

In [9]:
for i in range (6):
    random.seed(52)
    print(random.randint(1,200))
    random.seed(3)
    print(random.randint(1,300))

69
122
69
122
69
122
69
122
69
122
69
122

In [10]:
data = {
    'cats':[5,12,6,9],
    'dogs':[3,1,35,8]
}

In [12]:
import pandas as pd

In [13]:
data = {
    'cats':[5,12,6,9],
    'dogs':[3,1,35,8]
}

In [14]:
listView = pd.DataFrame(data)
listView

   cats  dogs
0     5     3
1    12     1
2     6    35
3     9     8

In [15]:
import random

In [16]:
random.seed(5)

In [17]:
print(random.randint(1,500))

319

In [18]:
print(random.randint(1,500))

131

In [19]:
random.seed(5)
print(random.randint(1,500))

319

In [22]:
for i in range (6):
    random.seed(5)
    print(random.randint(1,200))
    random.seed(3)
    print(random.randint(1,300))

160
122
160
122
160
122
160
122
160
122
160
122